.titulo {
  font-style: italic;
  font-size: 44px;
  font-weight: 700;
  color: white;
}
.inputStyle {
  outline: none;
  border-radius: 100px !important;
  padding: 15px 50px 15px 15px !important;
  margin: 10px !important;
  box-shadow: 0 !important;
  width: 290px;
  font-size: 14px !important;
  background-image: url("../../../public/twitch-logo.a922db9d488826bb86e0.png") !important;
  background-repeat: no-repeat !important;
  background-size: 40px !important;
  background-position: 100% !important;
  font-family: Montserrat, "sans-serif" !important;
  background-color: #222430;
  border: 1px solid #1d1f29;
  color: #fff;
}
.spams{
  margin: 50px
}